<ion-header>
  <ion-navbar>
    <ion-title>
      3R - Ingressos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <button ion-button full icon-left (click)="atualizar()">
    <ion-icon name="refresh"></ion-icon>
    Atualizar
  </button>
  
  <h1> Ingressos </h1>
  
  
  <ion-card *ngFor="let ingresso of ingressos">
      <div *ngIf="ingresso.entrou===true;then entrou else naoEntrou"></div>

      <ng-template #entrou>

          <ion-item class="entrouItem">
              
              <ion-avatar item-start>
                <img src="https://api.adorable.io/avatars/63/abott@adorable.png">
              </ion-avatar>
              <h2>{{ingresso.nome}}</h2>
              <p>Status: {{ingresso.entrou}}</p>
              <ion-col right text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-item>

      </ng-template>
      <ng-template #naoEntrou>
        
          <ion-item >
              
              <ion-avatar item-start>
                <img src="https://api.adorable.io/avatars/63/abott@adorable.png">
              </ion-avatar>
              <h2>{{ingresso.nome}}</h2>
              <p>Status: {{ingresso.entrou}}</p>
              <ion-col right text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-item>

      </ng-template>
          
        
    </ion-card>

</ion-content>
